.testimonials-text {
  color: var(--secondary-color);
}
.testimonials-text p {
  color: #22366a;
}
@media (max-width: 1024px) {
  .testmonials {
    height: fit-content;
    padding: 15px !important;
    padding-top: 50px;
  }
  .tesimonials-container {
    padding-top: 30px;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tesimonial-container {
    flex-direction: column;
    max-width: fit-content;
  }
}
