<section class="about-us h-screen z-30">
  <div class="flex items-center justify-evenly h-4/5 text-white">
    <div class="about-left-side self-start pt-20 sm:pt-10">
      <h1 class="text-6xl font-extrabold">About Us</h1>
      <p class="font-bold pt-8 pb-5 max-w-md">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an
      </p>
      <div>
        <img
          [src]="aboutUsSectionImage"
          class="rounded-2xl"
          alt="two trash bags image"
        />
      </div>
    </div>
    <div class="about-right-side max-w-96 text-right z-50">
      <div class="right-side-layer z-10"></div>
      <h1 class="text-6xl font-extrabold py-6">Where</h1>
      <p class="font-semibold">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release
        of Letraset sheets containing Lorem Ipsum passages, and more recently
        with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </p>
    </div>
  </div>
  <div class="btn-container flex items-center justify-center">
    <app-section-button label="Help me" color="warning"></app-section-button>
  </div>
</section>
