input::placeholder {
  color: black;
}
.contact {
  padding: 20px !important;
  gap: 30px !important;
  justify-content: space-around;
}
.bg-blue-200 {
  background-color: #cedcff;
}

.text-red-600 {
  color: #ff4d4d;
}

.text-green-600 {
  color: #4caf50;
}
@media (max-width: 425px) {
  .contact {
    padding: 30px !important;
    padding-top: 50px !important;
    gap: 50px !important;
    justify-content: flex-start !important;
    align-items: center !important;
    /* height: fit-content !important; */
  }
  .contact div {
    width: 300px;
    /* justify-content: center; */
    padding: 5px 5px;
  }
  .contact-container {
    gap: 22px;
    align-items: center !important;
  }

  .form-container div {
    width: 200px !important;
  }
  .form-container input {
    width: 200px !important;
  }
  .form-container form {
    padding: 20px;
  }
  .min-w-96 {
    min-width: 14rem /* 384px */;
  }
}
